@import "http://127.0.0.1:3000/colors.css";

* {
    background-color: var(--ctp-base);
    color: var(--ctp-text);
    text-align: center;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%; /* Wichtig, damit die Tabelle eine Referenz hat */
}

table {
  width: 100vw;  /* Nutzt 100% der Bildschirmbreite */
  border-collapse: collapse;
  table-layout: fixed; /* Sorgt dafür, dass Spalten sich den Platz gleichmäßig teilen */
}